<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>add room</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/addroom.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav2.html' %}
<form method="POST"  cache="no-cache" class="formclass">
    <div style="display: flex;justify-content: center;">
        <div>
            <h2 style="text-align: center;">ADD EXAM DETAILS</h2>
            <label for="exam_date">EXAM date:</label>
            <input type="text" id="exam_date" name="exam_date" required placeholder="DD-MM-YYYY">
            
            <div id="wrongdate" class="warning"><h5></h2></div>
            <br>
            <label for="exam_time">EXAM time:</label>
            <input type="text" id="exam_time" name="exam_time" required placeholder="10:00 - 12:30">
            <select id="dropdown" name="dropdown">
                <option value="am">AM</option>
                <option value="pm">PM</option>
            </select>
        
            <h2 style="text-align: center;">ADD ROOM DETAILS</h2>
            <label for="dept">Dept:</label>
            <select id="dept" name="dept">
                <option value="CSE">CSE</option>
                <option value="CE">CE</option>
                <option value="EEE">EEE</option>
                <option value="EC">EC</option>
                <option value="EL">EL</option>
            </select>
            <br><br>
            <label for="no_room">Room no:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            </label>
            <input type="text" id="no_room" name="no_room" required>
            <br><br>
            <label for="no_bstd">Number of students in a bench:&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            </label>
            <input type="text" id="no_bstd" name="no_bstd" required>
            <br><br>
            <label for="no_bench">Number of benches:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;
            </label>
            <input type="text" id="no_bench" name="no_bench" required oninput="addStudent()">
            <br><br>
            <p>Maximum number of students you can allot :<span id="result"></span></p>
            <br>
            <label for="tot_std">Total number of students you want to allot:</label>
            <input type="text" id="tot_std" name="tot_std" required oninput="validate();check()">
            <br>
            <p id="message"></p>
        </div>
    </div>
    
    <br>
    <div style="display: flex; justify-content: center;">
        <input type="submit" value="submit" id="submit" disabled>
    </div>
    
    <br>
    <center><div id="roomadd" ></div></center>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    function addStudent() {
        var a=Number(document.getElementById("no_bstd").value);
        var b=Number(document.getElementById("no_bench").value);
        var c;
        c=a*b;
        document.getElementById("result").innerHTML = String(c);
    }

    function validate() {
        var a=Number(document.getElementById("result").innerHTML);
        var b=Number(document.getElementById("tot_std").value);
        var c;
        var message = document.getElementById("message");
        if(b>a) {
            message.innerText = "Total number of students must be less than: " + a;
        } else {
            message.innerText = "";
        }
    }

    function check() {
        var a=Number(document.getElementById("result").innerHTML);
        var b=Number(document.getElementById("tot_std").value);
        if(b<=a) {
            document.getElementById("submit").disabled=false;
        } else {
            document.getElementById("submit").disabled=true;
        }
    }
    $(document).ready(function() {
        $('#submit').click(function(event) {
          event.preventDefault();  // prevent default form submission behavior
      
          // get form data
          var form_data = {
            'exam_date': $('#exam_date').val(),
            'exam_time': $('#exam_time').val(),
            'dropdown': $('#dropdown').val(),
            'dept': $('#dept').val(),
            'no_room': $('#no_room').val(),
            'no_bstd': $('#no_bstd').val(),
            'no_bench': $('#no_bench').val(),
            'tot_std': $('#tot_std').val()
          };
          var jsonData = JSON.stringify(form_data);
          // send ajax POST request to backend
          $.ajax({
            type: 'POST',
            url: '{{ url_for("addroom") }}',
            contentType: 'application/json',
            data: jsonData,
            success: function(response) {
              // handle success response from backend
              console.log(response);
              $("#submit").val("submitted");
              $("#roomadd").text(response.roomadd);
              $("#wrongdate").text(response.wrongdate);
            },
            error: function(response) {
              // handle error response from backend
              console.log(response);
            }
          });
        });
      });
</script>
</body>
</html>