<!DOCTYPE html>
<html>
<head>
    <title>Room Details</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/allot.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    
</head>
<body>
    {% include 'nav2.html' %}
    <div class="pc">
    <p>Dept :<br> {{room[0][3]}}</p>
    <p>Room Number:<br> {{ room[0][4] }}</p>
    <p>Number of Benches:<br> {{ room[0][6] }}</p>
    <p>Number of Students per Bench:<br> {{ room[0][5] }}</p>
    <p>Capacity of the room: <br>{{ room[0][7]}}</p>
    <p>Date of exam:<br> {{ room[0][0]}}</p>
    <p>Time:<br>{{room[0][1]}} {{room[0][2]}}</p>
    </div>
    <div class="formdiv">
    <table>
        <h2>ALLOT STUDENTS</h2>
        <thead>
            <tr>
                {% for i in range(room[0][5]) %}
                    <th>COLUMN {{ i+1 }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                {% for i in range(room[0][5]) %}
                    <td>
                        <div>
                            <label>Class:</label>
                            <select id="class-dropdown-{{ i+1 }}" class="custom-select" required>
                                <option value="">Select a class</option>
                                <option value="S1 CSE A">S1 CSE A</option>
                                <option value="S1 CSE B">S1 CSE B</option>
                                <option value="S1 EEE">S1 EEE</option>
                                <option value="S1 EC">S1 EC</option>
                                <option value="S1 CE">S1 CE</option>
                                <option value="S2 CSE A"><b>S2 CSE A</b></option>
                                <option value="S2 CSE B"><b>S2 CSE B</b></option>
                                <option value="S2 EEE"><b>S2 EEE</b></option>
                                <option value="S2 EC"><b>S2 EC</b></option>
                                <option value="S2 CE"><b>S2 CE</b></option>
                                <option value="S3 CSE A">S3 CSE A</option>
                                <option value="S3 CSE B">S3 CSE B</option>
                                <option value="S3 EEE">S3 EEE</option>
                                <option value="S3 EC">S3 EC</option>
                                <option value="S3 CE">S3 CE</option>
                                
                                <option value="S4 CSE A"><b>S4 CSE A</b></option>
                                <option value="S4 CSE B"><b>S4 CSE B</b></option>
                                <option value="S4 EEE"><b>S4 EEE</b></option>
                                <option value="S4 EC"><b>S4 EC</b></option>
                                <option value="S4 CE"><b>S4 CE</b></option>
                                <option value="S5 CSE A">S5 CSE A</option>
                                <option value="S5 CSE B">S5 CSE B</option>
                                <option value="S5 EEE">S5 EEE</option>
                                <option value="S5 EC">S5 EC</option>
                                <option value="S5 CE">S5 CE</option>
                                
                                <option value="S6 CSE A"><b>S6 CSE A</b></option>
                                <option value="S6 CSE B"><b>S6 CSE B</b></option>
                                <option value="S6 EEE "><b>S6 EEE</b></option>
                                <option value="S6 EC "><b>S6 EC</b></option>
                                <option value="S6 CE "><b>S6 CE</b></option>
                                <option value="S7 CSE A">S7 CSE A</option>
                                <option value="S7 CSE B">S7 CSE B</option>
                                <option value="S7 EEE">S7 EEE</option>
                                <option value="S7 EC">S7 EC</option>
                                <option value="S7 CE">S7 CE</option>
                                
                                <option value="S8 CSE A"><b>S8 CSE A</b></option>
                                <option value="S8 CSE B"><b>S8 CSE B</b></option>
                                <option value="S8 EEE"><b>S8 EEE</b></option>
                                <option value="S8 EC"><b>S8 EC</b></option>
                                <option value="S8 CE"><b>S8 CE</b></option>
                            </select>
                        </div>
                        <div>
                            <label>From:</label>
                            <input type="text" id="from-{{ i+1 }}" class="from-input" oninput="getdetails('from-{{ i+1 }}')" required>

                        </div>
                        <div>
                            <label>To:</label>
                            <input type="text" id="to-{{ i+1 }}" class="to-input" >
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
    <br><br>

    <center> <button type="submit" id="add-button">Click Here to Allot</button></center>
<p id="output"></p>
    <div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
       
       
          
        $(document).ready(function() {
            $('#options').change(function() {
                var selectedOption = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '/get_details',
                    data: {option: selectedOption},
                    success: function(data) {
                        $('#details').html(data);
                    }
                });
            });
        });
    
        function getdetails(i) {
            var a = Number(document.getElementById(i).value);
            var b = Number("{{ room[0][6] }}"); 
            b = b - 1 ;
            var c = a + b; 
            document.getElementById("to-"+i.slice(5)).value = String(c); 
        }
        $(document).ready(function() {
        
            $('body').on('click', '#add-button', function() {
                var data = {
                    'dept':"{{ room[0][3] }}",
                    'date':"{{ room[0][0] }}",
                    'time':"{{ room[0][1] }}",
                    'mer' : "{{ room[0][2] }}",
                    'room_number': "{{ room[0][4] }}",
                    'students': []
                };
                {% for i in range(room[0][5]) %}
                    var row = {
                        'class': $('#class-dropdown-{{ i+1 }}').val(),
                        'from': $('#from-{{ i+1 }}').val(),
                        'to': $('#to-{{ i+1 }}').val(),
                    };
                    data.students.push(row);
                {% endfor %}
                var jsonData = JSON.stringify(data);
                
                $.ajax({
                    url: '/add_data',
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json',
                    beforeSend: function(xhr) {
                        if (data.length === 0) {
                            alert('Data is empty');
                            xhr.abort();
                        }
                    },
                    success: function(response) {
                        console.log(response);
                        if (response=="success"){
                        $('#add-button').text('Alloted');
                        $('#add-button').prop('disabled', true);
                        }
                        $("#output").text(response);
                      },
                      
                      error: function(xhr, status, error) {
                        console.log(error);
                      }
                });
            });
        });
       
    
    </script>

</body>
</html>
