<!DOCTYPE html>
<html>
<head>
    <title>List of Rooms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/allotedstddetails.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav2.html' %}
    
<div id="invoice">
    
    
        
    {% if rooms %}
  
    
    <p>Date of exam:{{rooms[0][0]}}</p>
    <p>Time of exam:{{rooms[0][1]}}{{rooms[0][2]}}</p>
    <p>Room:{{rooms[0][7]}} {{rooms[0][8]}}</p>

    <div class="formdiv">
    <h1>SEATING DETAILS</h1>
    <table>
        <tr>
            {% for i in range(b) %}
            <td>
                <table>
                    <thead>
                        <center><b>COLUMN {{ i+1 }}</b></center>
                        <tr>
                            <th>Register Number</th>
                            <th>Name</th>
                            <th>Roll no</th>
                            <th>Seat Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% set start = i*a %}
                            {% set end = (i+1)*a %}
                            {% for room in rooms[start:end] %}
                            {% set counter = loop.index0 %}
                                {% if counter < a %}
                                <tr>
                                    <td>{{ room[3] }}</td>
                                    <td>{{ room[4] }}</td>
                                    <td>{{ room[5] }}</td>
                                    <td>{{ room[6] }}</td>
                                </tr>
                                
                                {% endif %}
                            {% endfor %}
                            </tbody>
                            
                    </tbody>
                </table>
            </td>
            {% endfor %}
        </tr>
  <a  href="javascript:void(0)" class="form-row">Download PDF  </a>

    </table>
</div>
</div>


{% endif %}
 
  <center><h1 style="position:absolute;  transform: translate3d(600px, 120px, 0); ">{{ nota }}</h1></center>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    
    <script>
      const options = {
        margin: 0.5,
        filename: 'Seating.pdf',
        image: { 
          type: 'jpeg', 
          quality: 500
        },
        html2canvas: { 
          scale: 1 
        },
        jsPDF: { 
          unit: 'in', 
          format: 'letter', 
          orientation: 'portrait' 
        }
      }
      
      $('.form-row').click(function(e){
        e.preventDefault();
        const element = document.getElementById('invoice');
        html2pdf().from(element).set(options).save();
      });
     
      </script>
</body>

</html>
