<!DOCTYPE html>
<html>
<head>
    <title>List of Rooms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/allotedstddetails.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav2.html' %}
    
    
        
    {% if rooms %}
  
    
    <p>Date of exam:{{rooms[0][0]}}</p>
    <p>Time of exam:{{rooms[0][1]}}{{rooms[0][2]}}</p>
    <p>Room:{{rooms[0][7]}} {{rooms[0][8]}}</p>

    <div class="formdiv">
    <h1>SEATING DETAILS</h1>
    <table>
        <tr>
            {% for i in range(b) %}
            <td>
                <table>
                    <thead>
                        <center><b>COLUMN {{ i+1 }}</b></center>
                        <tr>
                            <th>Register Number</th>
                            <th>Name</th>
                            <th>Roll no</th>
                            <th>Seat Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% set start = i*a %}
                            {% set end = (i+1)*a %}
                            {% for room in rooms[start:end] %}
                            {% set counter = loop.index0 %}
                                {% if counter < a %}
                                <tr>
                                    <td>{{ room[3] }}</td>
                                    <td>{{ room[4] }}</td>
                                    <td>{{ room[5] }}</td>
                                    <td>{{ room[6] }}</td>
                                </tr>
                                
                                {% endif %}
                            {% endfor %}
                            </tbody>
                            
                    </tbody>
                </table>
            </td>
            {% endfor %}
        </tr>
    </table>
    
    
{% endif %}
<center><h3>{{ nota }}</h3></center>
<div>
<script>
    
</script>
</body>

</html>
