<!DOCTYPE html>
<html>
<head>
    <title>List of Rooms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/count.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav2.html' %}
    <div class="formdiv">
    <h1>Allotment Details</h1>
    <table>
        
       
        <tr>
            <th>Date of exam</th>
            <th>Time</th>
            <th>number of alloted students</th>
            <th>Remaining</th>
        </tr>
        {% for counts in count %}
        <tr>
           
            <td>{{ counts[0] }}</td>
           <td>{{counts[1]}}
            {{counts[2]}}</td>
            <td>{{counts[3]}}</td>
            {% if remaining - counts[3] == 0 %}
            <td>Completely Allotted</td>
               {% else %}
            <td>{{remaining - counts[3]}}</td>
           {% endif %}

        </tr>
    {% endfor %}
    </table>
</div>
    <script>
        
    </script>
</body>
</html>
