<html>
    <head>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    </head>
    <style>
     
    </style>
    <body>
         {% include 'nav1.html' %}
         <div class="formcenter">
         <center><h3><B>CHECK YOUR SEAT HERE!</B></h3></center>
         <form method="POST" action="/check">
            <div class="form-row1">
                
                <label for="id">Register no:</label>
                 
                <input type="text" id="id" name="id" required>
                <center><h4 style="color: red;" id="no_reg"></h4></center>
            </div>
        
            <br>
            <div class="form-row2">
            
                <label for="date">Date of exam:</label>
                <input type="text" id="date" name="date" required placeholder="DD-MM-YYYY" onblur="validateDate()">
                
                <center><h4 style="color: red;" id="incorrectdate"></h4></center>

            </div>
        
            <br><br>
            <center><h4 style="color: red;" id="noallot"></h4></center>

            <div id="allotment-table-container" align="center"></div>
        </div>
            </div>           
   
    
    <div class="form-row">
        <input type="submit" value="CHECK" class="button" id="submit">
    </div>
    <div class="noallot">
        
    </div>
            
</form>


    

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript">

        function validateDate() {
            event.preventDefault();
            var dateInput = document.getElementById("date").value;
            var dateRegex = /^(\d{2})-(\d{2})-(\d{4})$/; 
            var match = dateInput.match(dateRegex);
            if (!match) {
              alert("Please enter a date in the format DD-MM-YYYY");
              return false;
            }
            var day = parseInt(match[1]);
            var month = parseInt(match[2]);
            var year = parseInt(match[3]);
            if (day < 1 || day > 31 || month < 1 || month > 12 || year < 1000 || year > 9999) {
              alert("Please enter a valid date in the format DD-MM-YYYY");
              return false;
            }
        }

          $(document).ready(function() {
            $('#submit').click(function(event) {
              event.preventDefault();  // prevent default form submission behavior
          
              // get form data
              var form_data = {
                'id': $('#id').val(),
                'date': $('#date').val()
              }
               
              var jsonData = JSON.stringify(form_data);
              // send ajax POST request to backend
              $.ajax({
                type: 'POST',
                url: '{{ url_for("check") }}',
                contentType: 'application/json',
                data: jsonData,
                success: function(response) {
                    console.log(response);
                    $("#noallot").text(response.noallot);
                    $("#incorrectdate").text(response.incorrectdate);
                    $("#no_reg").text(response.no_reg);
                    var allot = response.allot;
                    if(response.allot){
                        var table = '<table id="allotment-table"><tr><th>Date of exam</th><th>time of exam</th><th>register no.</th><th>name</th><th>room</th><th>seat no</th></tr>';
                            for (var i = 0; i < allot.length; i++) {
                              table += '<tr><td>' + allot[i][0] + '</td><td>' + allot[i][1] + ' ' + allot[i][2] + '</td><td>' + allot[i][3] + '</td><td>' + allot[i][4] + '</td><td>' + allot[i][7] + ' ' + allot[i][8] + '</td><td>' + allot[i][5] + '</td></tr>';
                            }
                            table += '</table>';
                            $('#allotment-table-container').html(table);
                           

                    }
                   
                },    
                
                error: function(response) {
                  // handle error response from backend
                  console.log(response);
                }
              });
            });
          });
        </script>
    </body>
    </html>