<html>
    <head>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    </head>
    <body>
         {% include 'nav1.html' %}
         <div class="formcenter">
         <center><h3><B>CHECK YOUR SEAT HERE!</B></h3></center>
         <form method="POST" action="/check">
            <div class="form-row1">
                
                <label for="id">Register no:</label>
                 
                <input type="text" id="id" name="id" required>
            </div>
        
            <br>
            <div class="form-row2">
            
                <label for="date">Date of exam:</label>
                <input type="text" id="date" name="date" required placeholder="DD-MM-YYYY" onblur="validateDate()">
                <div id="incorrectdate" class="warning">{{incorrectdate}}</div>
            </div>
        
            <br><br>
           
            <div>
            </div>           
    {% if allot %}
    <center><h2>ALLOTMENT DETAILS</h2></center>
    <table>
        
       
        <tr>
            <th>Date of exam</th>
            <th>time of exam</th>
            
            
            <th>register no. </th>
            <th>name</th>
            <th>room</th>
            <th>seat no</th>
           
        </tr>
        {% for room in allot %}
        <tr>
            <td>{{ room[0] }}</td>
            <td>{{ room[1] }}
            {{ room[2] }}</td>
            <td>{{ room[3] }}</td>
            <td>{{ room[4]}}</td>
            <td>{{ room[7]}}
                {{ room[8]}}</td>
            <td>{{room[5]}}</td>
            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form-row">
        <input type="submit" value="CHECK" class="button">
    </div>
    <div class="noallot">
    <center><h4><p>{{noallot}}</p><h4></center>
    </div>
            </div>
        </form>
        <div class="wrapper">
            <div class="container">
                <div class="bottombox">
                <div class="row">
                    <div class="col">
                    
                        <p><img src="{{ url_for('static', filename='v3_63.png') }}" alt="collegelogo"></p>
                    
                       <p>COLLEGE OF ENGINEERING KIDANGOOR
                        <br>KIDANGOOR SOUTH P.O
                        <br>KOTTAYAM-686 583</p>
                  </div>
                  <div class="col2">
                    <p>
                    <img src="{{ url_for('static', filename='v4_108.png') }}" alt="collegelogo" class="img2">
                        <br>+91-48 22-256 056
                        <br>+91 48 22 255 056
                        <br>Admission Help Desk Number:- 9188255056,9400666144
                    </p>
                  </div>
                  <div class="col3">
                    <p>
                    <img src="{{ url_for('static', filename='v4_107.png') }}" alt="collegelogo" class="img3"> 
                    <br>cekcape@gmail.com<br>
                    <img src="{{ url_for('static', filename='v4_106.png') }}" alt="collegelogo" class="img4">
                    <br>04822 256056</p>
                  </div>
                </div>
              </div>
              
         </div>
        
    </div>
        <script>
        function validateDate() {
            event.preventDefault();
            var dateInput = document.getElementById("date").value;
            var dateRegex = /^(\d{2})-(\d{2})-(\d{4})$/; 
            var match = dateInput.match(dateRegex);
            if (!match) {
              alert("Please enter a date in the format DD-MM-YYYY");
              return false;
            }
            var day = parseInt(match[1]);
            var month = parseInt(match[2]);
            var year = parseInt(match[3]);
            if (day < 1 || day > 31 || month < 1 || month > 12 || year < 1000 || year > 9999) {
              alert("Please enter a valid date in the format DD-MM-YYYY");
              return false;
            }
            document.getElementById("signupform").submit();
          }
        </script>
    </body>
    </html>