<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav1.html' %}
    <center><h2>Login Here</h2></center>
    <form method="POST" action="/log">
        <div class="form-row">
            <label for="id">&ensp;&ensp;&ensp;
                &ensp;&ensp;ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
    
        <br>
        <div class="form-row">
            <label for="password">password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br><br>
        <div class="form-row">
            <input type="submit" value="login">
        </div>
        <br>
        <div id="noaccount" class="warning"><h6 class="red-text"><b>{{noaccount}}</b></h6></div>
    </form>
    <center><h5>Don't have an account?<a href="{{url_for('signin')}}" id="signin">Sign up</a></h5></center>
</body>
</html>
