<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav2.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="navbar">
        {% if logged_in %}
        <div class="welcome">
            <h1>Welcome</h1>
        </div>
            
            <form class="home" action="/dashboard" method="POST">
                <input type="submit" value="Home">
            </form>
            <form class="addroom" action="/add" method="POST">
                <input type="submit" value="Add Room">
            </form>
            <form class="viewroom" action="/viewroom" method="POST">
                <input type="submit" value="view added room">
            </form>
            <form class="allotdetails" action="/allotdetails" method="POST">
                <input type="submit" value="view alloted details">
            </form>
            <form class="count" action="/count" method="POST">
                <input type="submit" value="count details">
            </form>
            <form class="logout-form" action="/logout" method="POST">
                <input type="submit" value="Logout" onclick="return confirmLogout()">
            </form>
        {% else %}
            <h1>Please log in to access the dashboard.</h1>
        {% endif %}
    </div>

    <script>
        document.querySelector("form input[value='Home']").addEventListener("click", function() {
            // Replace "" with the appropriate URL for the Home page
            window.location.href = "";
        });

        document.querySelector("form input[value='Add Room']").addEventListener("click", function() {
            // Replace "" with the appropriate URL for the Add Room page
            window.location.href = "";
        });

        document.querySelector(".logout-form").addEventListener("submit", function(event) {
            event.preventDefault(); // prevent form submission
            if (confirm("Are you sure you want to logout?")) {
                // If user confirms, perform logout action
                var form = event.target;
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // If logout is successful, reload the page
                        window.location.reload();
                    } else {
                        // If logout fails, display an error message
                        console.error('Logout failed: ' + xhr.statusText);
                    }
                };
                xhr.send(new FormData(form));
            }
        });
    </script>
</body>
</html>
