<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav2.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="navbar">
        {% if logged_in %}
        <div class="welcome">
            <h1>Welcome {{ session['id'] }}</h1>
        </div>
            
            <form class="home" action="/dashboard" method="POST">
                <input type="submit" value="Home">
            </form>
            <form class="addroom" action="/add" method="POST">
                <input type="submit" value="Add room">
            </form>
            <form class="viewroom" action="/viewroom" method="POST">
                <input type="submit" value="View added room">
            </form>
            <form class="allotdetails" action="/allotdetails" method="POST">
                <input type="submit" value="View alloted details">
            </form>
            <form class="count" action="/count" method="POST">
                <input type="submit" value="Count details">
            </form>
            <form class="logout-form" action="/logout" method="POST">
                <input type="submit" value="logout" onclick="return confirmLogout()">
            </form>
        {% else %}
            <h1>Please log in to access the dashboard.</h1>
        {% endif %}
    </div>

    <script>
        document.querySelector("form input[value='Home']").addEventListener("click", function() {
            // Replace "" with the appropriate URL for the Home page
            window.location.href = "";
        });

        document.querySelector("form input[value='Add Room']").addEventListener("click", function() {
            // Replace "" with the appropriate URL for the Add Room page
            window.location.href = "";
        });
        document.querySelector(".logout-form").addEventListener("submit", function(event) {
            // Prevent form submission
            event.preventDefault();
          
            // Call confirmLogout function
            confirmLogout();
          });
          
        function confirmLogout() {
            if (confirm("Are you sure you want to logout?")) {
              // If user confirms, submit the logout form
              document.querySelector(".logout-form").submit();
            } else {
              // If user cancels, do nothing
              return false;
            }
          }
          
    </script>
</body>
</html>
