<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    
</head>
<body>
    {% include 'nav1.html' %}
    <center><h2>Sign up here</h2></center>
    <form method="POST" id="signupform">
        <div style="display:flex; justify-content:center;">
            <label for="username">Name:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <br>  
        <div style="display:flex; justify-content:center;">
                <label for="id">ID:</label>
                    <input type="text" id="id" name="id" required>
        </div>
        
        <br> 
        <div style="display:flex; justify-content:center;">
            <label for="dob">DOB:</label>
                <input type="text" id="dob" name="dob" required placeholder="DD-MM-YYYY" onblur="validateDate()">
        </div>
        
        <div id="incorrectdate" class="warning"></div>
        <br> 
        <div style="display:flex; justify-content:center;">
            <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" required>
        </div>
             <br> 
             <div style="display:flex; justify-content:center;">
            
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            
        </div>
        <br>
        <div style="display:flex; justify-content:center;">
            
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            
        </div>
        <br>
        <div style="display:flex; justify-content:center;">
            
                <label for="confirm_password">Confirm password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                
        </div>
        <div id="doesnotmatch" class="warning"></div>
        
        <br><br>
        <h3>Security questions?</h3>
        <label for="fcolor">What is your favourite color?</label>
        <input type="text" id="fcolor" name="fcolor" required>
        <label for="bgroup">What is your blood group?</label>
        <input type="text" id="bgroup" name="bgroup" required>
        <label for="siblings">Do you have siblings?</label>
        <input type="text" id="siblings" name="siblings" required placeholder="type yes or no">
        <label for="cinema">Do you like cinema?</label>
        <input type="text" id="cinema" name="cinema" required placeholder="type yes or no">
        <div id="accountalready" class="warning"></div>
        <div id="incorrectid" class="warning"></div>
        <div>
            <center>
                <input type="submit" value="verify" id="submit">
            </center>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var passwordField = document.getElementById('password');
        var confirmPasswordField = document.getElementById('confirm_password');
        var passwordMatchWarning = document.getElementById('passwordMatchWarning');

        confirmPasswordField.addEventListener('input', function() {
            if (passwordField.value !== confirmPasswordField.value) {
                passwordMatchWarning.textContent = "Passwords do not match";
            } else {
                passwordMatchWarning.textContent = "";
            }
        });
        passwordField.addEventListener('input', function() {
            if (passwordField.value === confirmPasswordField.value) {
                passwordMatchWarning.textContent = "";
            }
        });
        function validateDate() {
            event.preventDefault();
            var dateInput = document.getElementById("dob").value;
            var dateRegex = /^(\d{2})-(\d{2})-(\d{4})$/; 
            var match = dateInput.match(dateRegex);
            if (!match) {
              alert("Please enter a date in the format DD-MM-YYYY");
              return false;
            }
            var day = parseInt(match[1]);
            var month = parseInt(match[2]);
            var year = parseInt(match[3]);
            if (day < 1 || day > 31 || month < 1 || month > 12 || year < 1000 || year > 9999) {
              alert("Please enter a valid date in the format DD-MM-YYYY");
              return false;
            }
            document.getElementById("signupform").submit();
          }
          $(document).ready(function() {
            $('#submit').click(function(event) {
              event.preventDefault();  // prevent default form submission behavior
          
              // get form data
              var form_data = {
                'username': $('#username').val(),
                'id': $('#id').val(),
                'dob': $('#dob').val(),
                'phone': $('#phone').val(),
                'email': $('#email').val(),
                'password': $('#password').val(),
                'confirm_password': $('#confirm_password').val(),
                'fcolor': $('#fcolor').val(),  
                'bgroup': $('#bgroup').val(),
                'siblings': $('#siblings').val(),
                'cinema': $('#cinema').val()      
              }
               
              var jsonData = JSON.stringify(form_data);
              // send ajax POST request to backend
              $.ajax({
                type: 'POST',
                url: '{{ url_for("signup") }}',
                contentType: 'application/json',
                data: jsonData,
                success: function(response) {
                    console.log(response);
                    $("#accountalready").text(response.accountalready);
                    $("#incorrectdate").text(response.incorrectdate);
                    $("#doesnotmatch").text(response.doesnotmatch);
                    $("#incorrectid").text(response.incorrectid);
                    if (response.redirect) {
                      window.location.href = "{{ url_for('signupotp') }}";
                  } else {
                      $("#noaccount").text(response.noaccount);
                  }
                },    
                
                error: function(response) {
                  // handle error response from backend
                  console.log(response);
                }
              });
            });
          });
        </script>
   
    
</body>
</html>