<!DOCTYPE html>
<html>
<head>
    <title>List of Rooms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewalloted.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    
</head>
<body>
    {% include 'nav2.html' %}
<div id="invoice">

    <div class="formdiv">
    <h1>ALLOTMENT DETAILS</h1>
    <table>
        
       
        <tr>
            <th>Date of exam</th>
            <th>time of exam</th>
            
            
            <th>alloted room </th>
            <th>View Alloted details</th>
            
           
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room[0] }}</td>
            <td>{{ room[1] }}
            {{ room[2] }}</td>
            <td>{{ room[3] }}
            {{ room[4]}}</td>
            <td><a href="{{ url_for('viewalloteddetails', dept=room[3], e_date=room[0], mer=room[2], room_no=room[4]) }}" class="btn btn-primary" id="allot-link">View alloted students details</a></td>
            
        </tr>
        {% endfor %}
    </table>
</div>
</div>
    <script>
        
    </script>
</body>
</html>
